In [9]:
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
from scipy import stats
import numpy as np

Salary_Data_df = pd.read_csv("DataScienceSalary.csv")
Salary_Data_df

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,SE,FT,Business Data Analyst,65000,GBP,79976,ES,100,GI,L
1,2023,SE,FT,Business Intelligence Analyst,115600,USD,115600,US,0,US,M
2,2023,SE,FT,Business Intelligence Analyst,79700,USD,79700,US,0,US,M
3,2023,EN,FT,Applied Scientist,281700,USD,281700,US,0,US,M
4,2023,EN,FT,Applied Scientist,141100,USD,141100,US,0,US,M
...,...,...,...,...,...,...,...,...,...,...,...
8265,2020,SE,FT,Data Scientist,412000,USD,412000,US,100,US,L
8266,2021,MI,FT,Principal Data Scientist,151000,USD,151000,US,100,US,L
8267,2020,EN,FT,Data Scientist,105000,USD,105000,US,100,US,S
8268,2020,EN,CT,Business Data Analyst,100000,USD,100000,US,100,US,L
8269,2021,SE,FT,Data Science Manager,7000000,INR,94665,IN,50,IN,L

In [10]:
Salary_by_year = Salary_Data_df.groupby(["work_year"])["salary_in_usd"].mean()
Salary_by_year

work_year
2020    102250.866667
2021     99922.073394
2022    134508.234545
2023    155481.248301
Name: salary_in_usd, dtype: float64